.Pipe {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -4em;
    width: em(80px);
    height: 100%;
    transform: translateZ(0);
    z-index: 1;
}

.Top,
.Bot {
    background: url("../images/stone.jpg");
    background-size: 75%;
}

@keyframes spin {
    100% {
        background-position: em(-445px);
    }
}

.Gap {
    background: url("../images/ring_sprite.png") no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: em(450px);
    animation: spin 1.0s steps(6) infinite;
    animation-play-state: running;
}

.collectedGap {
    background: none;
    animation-play-state: paused;
}
