.Scoreboard {
    position: absolute;
    left: 50%;
    top: em(100px);
    height: em(300px);
    width: em(300px);
    margin-left: em(-150px);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    text-align: center; // Keep it off-screen
    transform: translate(0, em(-400px));
    transition: transform 0.5s;
    font-family: "Press Start 2P", cursive;
    color: white;
    z-index: 4;
}


/**
 * Reset transform to animate it into the correct spot on the screen.
 */

.Scoreboard.is-visible {
    transform: none;
}

.Scoreboard>.highscore,
.Scoreboard>.currentscore {
    font-size: em(16px);
}

.Scoreboard>.highscore {
    margin-top: em(40px);
}

.Scoreboard>.currentscore {}

.Scoreboard>button {
    margin-top: em(70px);
    font-size: inherit;
    font-family: inherit;
    padding: em(8px) em(15px);
    border: em(2px) solid white;
    background: none;
    cursor: pointer;
}

.Scoreboard>button>span {
    font-family: inherit;
    font-size: em(24px);
    color: white;
}
