// bower:scss
// endbower
@import "../bower_components/compass-sass-mixins/lib/compass";
@import "variables";
body {
    background: black;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@import "_cloud";
@import "_game-canvas";
@import "_ground";
@import "_pipe";
@import "_player";
@import "_score";
@import "_scoreboard";
